/* *aside 내부 p태그 */
body
  > div:first-child
  > div:first-child
  > aside:first-child
  > div
  > div:first-child
  > p {
  font-weight: 300;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* *aside 내부에 있는 버튼 폰트 */
body
  > div:first-child
  > div:first-child
  > aside:first-child
  > div
  > div:nth-child(2)
  > form:first-child
  > input[type="button"] {
  color: white;
}

/* *nav 상단 메뉴바 li들 */
body > div:first-child > div:first-child > nav > div:first-child > li {
  font-size: 12px;
}

/* * div_for_captions의 자식 span */
body > div:first-child > div:first-child > div > span:first-child {
  font-weight: 530;
  color: rgb(223, 222, 222);
}

/* * div_for_captions의 첫 번째 자식 span의 첫 번째 자식 span*/
body > div:first-child > div:first-child > div > span:first-child > span {
  color: rgb(39, 151, 255);
  cursor: pointer;
}
/* *first_section_first_div의 첫 번째 자식 div의 h2 */
body
  > div:first-child
  > div:first-child
  > section
  > div:first-child
  > div:first-child
  > h2 {
  color: rgb(175, 174, 174);
}

/* *.first_section_footer의 첫 번째 자식 버튼 */
body
  > div:first-child
  > div:first-child
  > section
  > div:first-child
  > div:nth-child(2)
  > div:first-child
  > button:first-child {
  font-size: 15px;
  color: white;
}

/* *.first_section_footer의 첫 번째 자식 div의 첫 번째 자식 p태그 */
body
  > div:first-child
  > div:first-child
  > section
  > div:first-child
  > div:nth-child(2)
  > div:first-child
  > p {
  font-weight: 700;
  color: white;
}

/* *second_section 내 div 내 폰트 */
.second_section
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > span {
  color: rgb(187, 187, 187);
  font-size: 30px;
  font-weight: 600;
}

.second_section
  > div:first-child
  > div:first-child
  > div:first-child
  > div:nth-child(2)
  > span {
  font-size: 17px;
  color: rgb(43, 135, 255);
}

.thrid_section > div:first-child > div:first-child > span:first-child {
  color: rgb(187, 187, 187);
  font-size: 30px;
  font-weight: 600;
}

.fourth_section > div:first-child > div:first-child {
  color: rgb(187, 187, 187);
  font-size: 30px;
  font-weight: 600;
}

.fourth_section
  > div:first-child
  > div:nth-child(2)
  > div:first-child
  > span:first-child,
.fourth_section
  > div:first-child
  > div:nth-child(2)
  > div:first-child
  > span:nth-child(2) {
  color: white;
  font-size: 30px;
  font-weight: 600;
}

.fifth_section
  > div:first-child
  > div:first-child
  > div:nth-child(3)
  > span:first-child,
.fifth_section
  > div:first-child
  > div:first-child
  > div:nth-child(3)
  > span:nth-child(3) {
  color: white;
  font-size: 30px;
  font-weight: 600;
}
