:root {
  --main-section-bg: black;
  --main-section-second-bg: rgb(78, 78, 78);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

/* *main_container  */
body > div:first-child {
  width: 100%;
  height: 100%;
}

/* todo, section 추가될 때마다 상속받는 height 퍼센트 값 조정 */
/* *first_container */
body > div:first-child > div:first-child {
  width: 100%;
  height: 100%;
}

/* *최상단 aside */
body > div:first-child > div:first-child > aside:first-child {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(201, 201, 201, 0.616);
}

/* *aside 내부 div */
body > div:first-child > div:first-child > aside:first-child > div:first-child {
  display: flex;
  align-items: center;
  width: 60%;
  height: 100%;
}

/* *aside_first_container */
body
  > div:first-child
  > div:first-child
  > aside:first-child
  > div
  > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 60%;
}

/* *aside_second_container */
body
  > div:first-child
  > div:first-child
  > aside:first-child
  > div
  > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  width: 50%;
  height: 60%;
}

body
  > div:first-child
  > div:first-child
  > aside:first-child
  > div
  > div:nth-child(2)
  > form:first-child {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}

/* *aside_second_container > select */
body
  > div:first-child
  > div:first-child
  > aside:first-child
  > div
  > div:nth-child(2)
  > form:first-child
  > select {
  width: 260px;
  height: 30px;
}

/* *aside_second_container > button */
body
  > div:first-child
  > div:first-child
  > aside:first-child
  > div
  > div:nth-child(2)
  > form:first-child
  > input[type="button"] {
  width: 70px;
  height: 30px;
  background-color: black;
}

/* *nav_for_top_containing */
body > div:first-child > div:first-child > nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4%;
  background-color: black;
}

/* *.hidden_menubar_wrapper */
.hidden_menubar_wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 5%;
  background-color: black;
  visibility: hidden;
}

.hidden_menubar_wrapper > div:first-child {
  display: flex;
  width: 80%;
  height: 100%;
}

.hidden_menubar_wrapper > div:first-child > div:first-child {
  display: grid;
  align-items: center;
  width: 50%;
}

.hidden_menubar_wrapper > div:first-child > div:nth-child(2) {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 50%;
  list-style-type: none;
  background-color: black;
}

/* *상단 고정 메뉴바 li */
.hidden_menubar_menus > li {
  cursor: pointer;
}

/* *상단 고정 메뉴바 버튼 */
.hidden_menubar_menus > button {
  width: 70px;
  height: 25px;
  background-color: rgb(48, 112, 250);
  cursor: pointer;
}

/* *nav_for_top_containing의 첫 번째 자식 div */
body > div:first-child > div:first-child > nav > div:first-child {
  display: flex;
}

body > div:first-child > div:first-child > nav > div:first-child > li {
  list-style-type: none;
  cursor: pointer;
  color: rgb(197, 197, 197);
  padding: 23px;
}

/* *div_for_captions */
.div_for_captions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7%;
  background-color: rgb(61, 61, 61);
}

/* *div_for_captions 내 span*/
body > div:first-child > div:first-child > div > span:first-child {
  text-align: center;
}

/* *.first_section */
body > div:first-child > div:first-child > section {
  width: 100%;
  height: 82%;
}

/* *.first_section 첫 번째 내부 div */
.first_section_first_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* ! height: 82% */
  height: 100%;
  background-color: var(--main-section-bg);
}

/* *.first_section_first_div의 첫 번째 자식 div */
.first_section_first_div_first_div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  width: 100%;
  /* ! height: 41% */
  height: 90%;
  background-color: black;
}

/* *.first_section 내부 div의 자식 div의 h2*/
body
  > div:first-child
  > div:first-child
  > section
  > div:first-child
  > div:first-child
  > h2 {
  text-align: center;
  height: 2%;
}

/* *.first_section 내부 div의 자식 div의 img */
.first_section_img {
  width: 1200px;
  height: 50%;
  margin: 0 auto;
}

/* *.first_section_footer */
.first_section_footer {
  width: 100%;
  height: 40%;
}

/* *first_section_footer의 첫 번째 자식 div */
.first_section_footer_first_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 80%;
  background-color: black;
}

/* *first_section_footer의 첫 번째 자식 div의  button*/
body
  > div:first-child
  > div:first-child
  > section
  > div:first-child
  > div:nth-child(2)
  > div:first-child
  > button {
  cursor: pointer;
  width: 100px;
  height: 40px;
  background-color: rgb(48, 112, 250);
}

/* ! second section */
/* *.second_section */
.second_section {
  background-color: var(--main-section-second-bg);
}
/* *second_section_first_div */
.second_section > div:first-child {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* *.second_section_header */
.second_section > div:first-child > div:first-child {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 30%;
}

/* *.second_section_header의 첫 번째 자식 div */
.second_section > div:first-child > div:first-child > div:first-child {
  display: flex;
  width: 90%;
  height: 30%;
  margin-bottom: 20px;
}

.second_section
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
}

.second_section
  > div:first-child
  > div:first-child
  > div:first-child
  > div:nth-child(2) {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 50%;
  height: 100%;
}

/* *.second_section_middle */
.second_section > div:first-child > div:nth-child(2) {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* *.second_section_middle_contents */
.second_section > div:first-child > div:nth-child(2) > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 100%;
  background-color: black;
}

.second_section
  > div:first-child
  > div:nth-child(2)
  > div:first-child
  > div:first-child
  > p:first-child {
  height: 80%;
  margin-left: 70px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.second_section
  > div:first-child
  > div:nth-child(2)
  > div:first-child
  > div:nth-child(2) {
  display: flex;
  justify-content: center;
}

/* .second_section
  > div:first-child
  > div:nth-child(2)
  > div:first-child
  > div:nth-child(2)
  > img {
} */

.third_section {
  width: 100%;
  height: 100%;
}

/* *.third_section_container */
.third_section > div:first-child {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--main-section-bg);
}

.third_section > div:first-child > div:first-child {
  display: flex;
  width: 80%;
  height: 20%;
  align-items: end;
  margin-bottom: 20px;
}

/* *third_section_second_content */
.third_section > div:first-child > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
}

.third_section > div:first-child > div:nth-child(2) > div:first-child {
  width: 60%;
  height: 100%;
  background-color: black;
}

/* *.third_section_div_for_img */
.third_section
  > div:first-child
  > div:nth-child(2)
  > div:first-child
  > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  background-color: black;
}

.third_section
  > div:first-child
  > div:nth-child(2)
  > div:first-child
  > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}

/* *.fourth_section */
.fourth_section {
  width: 100%;
  height: 100%;
}

/* *.fourth_section_container */
.fourth_section > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgb(78, 78, 78);
}

.fourth_section > div:first-child > div:first-child {
  margin: 60px;
  display: flex;
  align-items: end;
  width: 80%;
  height: 10%;
}

/* *.fourth_section_second_contents */
.fourth_section > div:first-child > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 90%;
  margin-bottom: 20px;
}

.fourth_section > div:first-child > div:nth-child(2) > div:first-child {
  width: 40%;
  height: 10%;
}

.fourth_section > div:first-child > div:nth-child(2) > div:nth-child(2) {
  width: 40%;
  height: 40%;
}

.fourth_section
  > div:first-child
  > div:nth-child(2)
  > div:nth-child(2)
  > img:first-child {
  width: 100%;
  height: 100%;
}

.fourth_section > div:first-child > div:nth-child(2) > div:nth-child(3) {
  margin-top: 10px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  width: 40%;
  height: 40%;
}

.fourth_section
  > div:first-child
  > div:nth-child(2)
  > div:nth-child(3)
  > div:first-child
  > img:first-child {
  width: 100%;
  height: 100%;
}

.fourth_section
  > div:first-child
  > div:nth-child(2)
  > div:nth-child(3)
  > div:first-child {
  width: 50%;
  margin-right: 10px;
  background-color: black;
}

.fourth_section
  > div:first-child
  > div:nth-child(2)
  > div:nth-child(3)
  > div:nth-child(2) {
  width: 50%;
  background-color: black;
}

.fourth_section
  > div:first-child
  > div:nth-child(2)
  > div:nth-child(3)
  > div:nth-child(2)
  > img:first-child {
  width: 100%;
  height: 100%;
}

.fourth_section > div:first-child > div:nth-child(2) > div:nth-child(4) {
  display: flex;
  justify-content: center;
  margin: 10px;
  width: 60%;
  height: 20%;
  background-color: rgb(184, 182, 182);
}

.fourth_section
  > div:first-child
  > div:nth-child(2)
  > div:nth-child(4)
  > div:first-child {
  margin: 10px;
  width: 50%;
  height: 80%;
  background-color: black;
}

.fourth_section
  > div:first-child
  > div:nth-child(2)
  > div:nth-child(4)
  > div:nth-child(2) {
  margin: 10px;
  width: 50%;
  height: 80%;
  background-color: black;
}

.fourth_section > div:first-child > div:nth-child(2) > div:nth-child(5) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 10%;
  margin-bottom: 40px;
  background-color: rgb(180, 180, 180);
}

.fourth_section
  > div:first-child
  > div:nth-child(2)
  > div:nth-child(5)
  > div:first-child {
  width: 20%;
  height: 80%;
  background-color: black;
}

.fifth_section {
  width: 100%;
  height: 100%;
}

/* * fifth_section_container */
.fifth_section > div:first-child {
  width: 100%;
  height: 100%;
}

.border_div_gray2 {
  width: 100%;
  height: 10%;
  background-color: var(--main-section-second-bg);
}

.border_div_gray {
  width: 100%;
  height: 30%;
  background-color: var(--main-section-second-bg);
}

.border_div10 {
  width: 100%;
  height: 10%;
  background-color: black;
}

.border_div {
  width: 100%;
  height: 30%;
  background-color: black;
}

.border_div50 {
  width: 100%;
  height: 50%;
  background-color: black;
}

.border_div80 {
  width: 100%;
  height: 80%;
  background-color: black;
}

.fifth_section > div:first-child > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: black;
}

.fifth_section > div:first-child > div:first-child > div:first-child {
  width: 80%;
  height: 100%;
  margin: 20px;
}

.fifth_section > div:first-child > div:first-child > div:nth-child(2) {
  width: 80%;
  height: 100%;
  margin: 20px;
}

.fifth_section > div:first-child > div:first-child > div:nth-child(3) {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 20px;
}

.fifth_section
  > div:first-child
  > div:first-child
  > div:nth-child(3)
  > img:first-child {
  width: 80%;
  height: 100%;
}

.sixth_section {
  width: 100%;
  height: 100%;
}

/* *sixth_section_container */
.sixth_section > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: black;
}

.sixth_section > div:first-child > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.875rem;
  width: 80%;
  height: 90%;
}

.captions_container {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  width: 65%;
  height: 100%;
}

.sixth_section_caption {
  text-align: center;
  margin-top: 40px;
}

.sixth_section_caption3 {
  margin-bottom: 20px;
}

.seventh_section {
  width: 100%;
  height: 100%;
}

.seventh_section_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: black;
}

.seventh_section_container > div:first-child {
  width: 60%;
  height: 20%;
}

.seventh_section_container > div:nth-child(2) {
  margin: 40px;
}

.eighth_section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: black;
}

.eighth_section > div:first-child {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  width: 70%;
  height: 10%;
}
.eighth_section > div:first-child > div:first-child {
  width: 70%;
  height: 100%;
}

.eighth_section > div:first-child > div:first-child > img:first-child {
  width: 95%;
  height: 100%;
}

.eighth_section_img_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eighth_section_captions_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2.5rem;
}

.ninth_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 70px;
  background-color: black;
}

.tenth_section_contents_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 3.125rem;
}

.ninth_section > div:first-child {
  text-align: center;
}

.ninth_section > div:first-child > div:first-child {
  text-align: center;
  margin-bottom: 100px;
}

.button_for_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(80, 80, 80);
  width: 220px;
  height: 45px;
  cursor: pointer;
}

.tenth_section {
  width: 100%;
  height: 100%;
  background-color: black;
}

.tenth_section_contents_container > div:first-child {
  text-align: center;
}

.tenth_captions_first_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
  margin-bottom: 100px;
}

.tenth_section_captions_container {
  width: 30%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1.25rem;
}

.tenth_section_third_captions {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
}

.eleventh_section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: black;
}

/* *eleventh_section_container */
.eleventh_section > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  gap: 2.5rem;
}

.eleventh_section_container > div:first-child {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
}

.eleventh_section_container > div:nth-child(2) {
  width: 100%;
}

.eleventh_section_middle_container {
  display: flex;
  gap: 6.25rem;
}

.eleventh_section_middle_first_contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 2.5rem;
}

.eleventh_section_middle_first_contents > div:first-child {
  height: 50%;
}

.eleventh_section_middle_first_contents > div:nth-child(2) {
  display: grid;
  height: 50%;
  grid-template-rows: repeat(9, 1fr);
  margin-left: 20px;
  gap: 5px;
}

.eleventh_section_footer_captions {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.twelfth_section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: black;
}

.twelfth_section_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 100%;
  gap: 12.5rem;
}

.twelfth_section_container > div:first-child {
  width: 50%;
}
